p {
  font-size: 10px;
  margin: 2px 5px;
  padding: 0;
}

.title1 {
  font-size: 12px;
  font-weight: bold;
  margin: 7px 5px;
  color: #006;
}

.title2 {
  font-size: 11px;
  font-weight: bold;
  margin: 7px 5px;
  color: black;
}

.thread {
  color: #5788b6;
}

.warning {
  color: #ff5050;
}

.critical {
  color: red;
  font-weight: bold;
}

.fatal {
  color: black;
  font-weight: bold;
}

.cameraInfo td {
	background-color: #F5F5F5;
	padding: 3px 5px;
}

.cameraInfo th {
	background-color: #DDD;
	vertical-align: middle;
	padding: 0 5px;
}
